#CGU {
    padding-left: 15% !important;
    padding-right: 15% !important;
    margin-top: 12vh !important;
    text-align: justify !important;
}

.header {
    text-align: center !important;
    font-weight: bold !important;
    position: fixed !important;
    z-index: 1 !important;
    width: 100vw !important;
    height: 12vh !important;
    padding: 0 !important;
}