.buttonVisu{
    color: grey;
    background:cyan;
    border: cyan;
}

.listeRechercheBien {
    background: white;
    color: black;
    height: 200px;
    margin-left: 100px;
    margin-right: 100px;
    border: solid 2px grey;  /* border-block-color: grey; */
    border-bottom:grey;
}