.buttonVisu {
    display: inline-block;
    background: white;
    color: black;
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 0px;
    border-radius: 20px;
}

.listeRechercheBien {
    display: inline-block;
}

.titleBien {
    color: white;
    background-color: rgb(80,80,80,0.7);
    padding: 33px 0px 33px 0px;
	margin: 300px 0px 0px 0px;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.avis {
    max-width: 250px;
    background-color: lightgray;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
}

.avisRefused {
    color: #721c24;
    background-color: #f8d7da  !important;
}

.avisPending {
    color: #856404;
    background-color: #fff3cd !important;
}

.imgBien {
    border-radius: 15px;
    max-width: 400px;
    max-height: 300px;
}

.descBien {
    font-size: 15px;
    padding: 20px;
    margin-right: 20px;
    border: solid grey 3px;
    border-radius: 15px;
}

.btn-addBien {
    text-align: center;
    background-color: #007bff;
    color: white;
    width: 50%;
    display: block;
    font-size: 25px;
    font-weight: bold;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.btn-admin {
    text-align: center;
    background-color: #dc3545;
    color: white;
    width: 100%;
    display: block;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.upload__image-wrapper > button {
    width: 150px;
    height: 150px;
    background-color: lightgrey;
    border: none;
    border-radius: 15px;
}

.image-item > img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
}

.upload__image-wrapper {
    margin: 10px;
}

.image-btn-del {
    margin: 10px;
    height: 45px;
}

.chat {
    border-radius: 15px;
    height: 500px;
    max-height: 600px;
    width: 400px;
    max-width: 400px;
    background-color: white;
    position: fixed;
    bottom: 30px; right: 30px;
}

.buttonChat {
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    bottom: 30px; right: 30px;
}

.chatForm {
    position: absolute;
    bottom: 10px;
}