.listeRechercheBien {
    background: pink;
    color: black;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 1px grey;  /* border-block-color: grey; */
    border-bottom:grey;
}